In [1]:

import csv
file=open("guns.csv")
data=list(csv.reader(file))
data[:5]
headers=data[0]
print(headers)
data=data[1:]
data[:5]

['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']

[['1',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '34',
  'Asian/Pacific Islander',
  '100',
  'Home',
  '4'],
 ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'],
 ['3',
  '2012',
  '01',
  'Suicide',
  '0',
  'M',
  '60',
  'White',
  '100',
  'Other specified',
  '4'],
 ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'],
 ['5',
  '2012',
  '02',
  'Suicide',
  '0',
  'M',
  '31',
  'White',
  '100',
  'Other specified',
  '2']]

In [2]:
place_Ofdeath=set([row[9] for row in data])
intent=set([row[3] for row in data])
police_involment=set([row[4] for row in data])
sex=set([row[5] for row in data])
age=set([row[6] for row in data])
race=set([row[7] for row in data])
education=set([row[10] for row in data])

In [4]:
def count_all(data,column,requirement,col_num,col_num2):
    count_male={}
    count_female={}
    for row in data:
        if (row[col_num] in column) and (row[col_num2]==requirement):
              if row[5]=="M":
                   if row[col_num] in count_male:
                          count_male[row[col_num]]+=1
                   else:
                          count_male[row[col_num]]=1
              elif row[5]=="F":
                    if row[col_num] in count_female:
                          count_female[row[col_num]]+=1
                    else:
                          count_female[row[col_num]]=1
    return count_male,count_female
x,y=count_all(data,place_Ofdeath,"Suicide",9,3)
male,female=count_all(data,age,"Suicide",6,3)

In [5]:
male

{'10': 3,
 '100': 1,
 '101': 1,
 '102': 2,
 '11': 10,
 '12': 45,
 '13': 103,
 '14': 180,
 '15': 236,
 '16': 306,
 '17': 380,
 '18': 498,
 '19': 562,
 '20': 613,
 '21': 769,
 '22': 900,
 '23': 846,
 '24': 810,
 '25': 775,
 '26': 837,
 '27': 768,
 '28': 704,
 '29': 724,
 '30': 703,
 '31': 728,
 '32': 701,
 '33': 665,
 '34': 672,
 '35': 681,
 '36': 644,
 '37': 705,
 '38': 699,
 '39': 686,
 '40': 666,
 '41': 730,
 '42': 791,
 '43': 832,
 '44': 817,
 '45': 785,
 '46': 830,
 '47': 853,
 '48': 963,
 '49': 997,
 '50': 1007,
 '51': 1089,
 '52': 1109,
 '53': 1128,
 '54': 1166,
 '55': 1107,
 '56': 1112,
 '57': 1025,
 '58': 1093,
 '59': 1030,
 '60': 1031,
 '61': 990,
 '62': 789,
 '63': 792,
 '64': 825,
 '65': 792,
 '66': 744,
 '67': 676,
 '68': 662,
 '69': 685,
 '70': 741,
 '71': 637,
 '72': 608,
 '73': 616,
 '74': 575,
 '75': 580,
 '76': 491,
 '77': 506,
 '78': 508,
 '79': 500,
 '80': 462,
 '81': 488,
 '82': 463,
 '83': 481,
 '84': 431,
 '85': 397,
 '86': 376,
 '87': 279,
 '88': 317,
 '89': 214,
 '9': 2,
 '90': 192,
 '91': 160,
 '92': 115,
 '93': 94,
 '94': 57,
 '95': 48,
 '96': 33,
 '97': 18,
 '98': 14,
 '99': 5,
 'NA': 5}

Analysis on suicide rates for male:

Children less than 9 do not comit Suicide according to data.Children of 9-10 years old have a rarest of the rare case to comit suicide.In the same way its the rare case for old people above 99

Suicide rate increases rapidly from people of 11-22 years and reaches to a significant high no of 900 in 3 years.
Then the suicide rate is constant b/w 800 to 850 till 45 years of age.
then it sees a rapid increase till the age of 60.
It decreases afterwards.

In [6]:
female

{'101': 1,
 '11': 4,
 '12': 9,
 '13': 24,
 '14': 37,
 '15': 40,
 '16': 49,
 '17': 52,
 '18': 58,
 '19': 69,
 '20': 74,
 '21': 95,
 '22': 112,
 '23': 103,
 '24': 126,
 '25': 108,
 '26': 98,
 '27': 125,
 '28': 122,
 '29': 122,
 '30': 129,
 '31': 142,
 '32': 123,
 '33': 117,
 '34': 123,
 '35': 129,
 '36': 121,
 '37': 116,
 '38': 137,
 '39': 126,
 '40': 161,
 '41': 179,
 '42': 143,
 '43': 177,
 '44': 162,
 '45': 163,
 '46': 177,
 '47': 206,
 '48': 242,
 '49': 221,
 '50': 241,
 '51': 249,
 '52': 225,
 '53': 248,
 '54': 224,
 '55': 217,
 '56': 231,
 '57': 201,
 '58': 181,
 '59': 166,
 '60': 156,
 '61': 133,
 '62': 128,
 '63': 117,
 '64': 142,
 '65': 118,
 '66': 113,
 '67': 85,
 '68': 93,
 '69': 114,
 '70': 71,
 '71': 80,
 '72': 59,
 '73': 48,
 '74': 43,
 '75': 53,
 '76': 41,
 '77': 37,
 '78': 37,
 '79': 37,
 '80': 35,
 '81': 36,
 '82': 30,
 '83': 35,
 '84': 22,
 '85': 21,
 '86': 18,
 '87': 19,
 '88': 11,
 '89': 15,
 '90': 5,
 '91': 9,
 '92': 6,
 '93': 6,
 '94': 3,
 '95': 2,
 '96': 2,
 '98': 2,
 'NA': 2}

Analysis on female suicide rates:

Suicide rates are lot lower than the male suicide rates.From 11 to 24 years of age no of suicide increases but the numbers are not as large as male.There is a bit of ups and downs with a peek at 50s.After 65 the rate decreases rapidly.

it seems that the most dangerous time in people's life is 50-60 years when most people comit suicide.

In [8]:
male_ed,female_ed=count_all(data,education,"Suicide",10,3)
male_ed

{'1': 8321, '2': 22956, '3': 13016, '4': 9421, '5': 766, 'NA': 6}

In [9]:
female_ed

{'1': 971, '2': 3365, '3': 2517, '4': 1726, '5': 110}

More peolpe commit suicide who are just educated till 10th class. lets see these people are of what races

In [11]:
male_ed_race,female_ed_race=count_all(data,race,"2",7,10)

In [12]:
male_ed_race

{'Asian/Pacific Islander': 314,
 'Black': 9809,
 'Hispanic': 2861,
 'Native American/Native Alaskan': 342,
 'White': 24013}

In [13]:
female_ed_race

{'Asian/Pacific Islander': 63,
 'Black': 877,
 'Hispanic': 345,
 'Native American/Native Alaskan': 50,
 'White': 4253}

In [14]:
racial_population={
    "Asian/Pacific Islander": 15159516 + 674625,
    "Native American/Native Alaskan": 3739506,
    "Black": 40250635,
    "Hispanic": 44618105,
    "White": 197318956
}

In [15]:
suicide_per_hundredk={}
for race in male_ed_race:
    suicide_per_hundredk[race]=(male_ed_race[race]/racial_population[race])*100000
print(suicide_per_hundredk)

{'White': 12.16963665670317, 'Black': 24.369801867722085, 'Native American/Native Alaskan': 9.145593027528236, 'Hispanic': 6.412195228820229, 'Asian/Pacific Islander': 1.9830567379689243}

There are mostly black people in the lower educated classes class who commited suicide.second no is of Whites.Asian/Pacific Islander's do very well in this. though they are less educated but they tend to do somthing for there life other than just killig themselves.

# lets see the police involvment in crimes

In [16]:
intent

{'Accidental', 'Homicide', 'NA', 'Suicide', 'Undetermined'}

In [18]:
male_pi_h,female_pi_h=count_all(data,police_involment,"Homicide",4,3)

In [19]:
male_pi_h

{'0': 28464, '1': 1339}

In [20]:
female_pi_h

{'0': 5310, '1': 63}

In [35]:
male_race_b,female_race_b=count_all(data,police_involment,"Black",4,7)

In [37]:
female_race_b

{'0': 2305, '1': 13}

In [36]:
male_race_b

{'0': 20635, '1': 343}

In [38]:
male_race_w,female_race_w=count_all(data,police_involment,"White",4,7)

In [39]:
male_race_w

{'0': 54879, '1': 671}

In [40]:
female_race_w

{'0': 10649, '1': 38}

In [42]:
male_race_all,female_race_all=count_all(data,race,"1",7,4)
male_race_all

{'Asian/Pacific Islander': 29}

In [45]:
race=set([row[7] for row in data])
race

{'Asian/Pacific Islander',
 'Black',
 'Hispanic',
 'Native American/Native Alaskan',
 'White'}

In [46]:
male_race_all,female_race_all=count_all(data,race,"1",7,4)

In [47]:
male_race_all

{'Asian/Pacific Islander': 29,
 'Black': 343,
 'Hispanic': 272,
 'Native American/Native Alaskan': 24,
 'White': 671}

In [50]:
def per_hundredK(dictionary):
    per_hundredk={}
    for i in dictionary:
           per_hundredk[i]=(dictionary[i]/racial_population[i])*100000
    return per_hundredk

In [51]:
per_hundredK(male_race_all)

{'Asian/Pacific Islander': 0.18314855223279874,
 'Black': 0.8521604690211719,
 'Hispanic': 0.6096180014816855,
 'Native American/Native Alaskan': 0.641796001931806,
 'White': 0.3400585598070973}

police is more involved in black killings.Second no is of Native American/Native Alaskan and Hispanic.
The Asians seem to be on the safer side here too.

In [52]:
male_race_all,female_race_all=count_all(data,age,"Homicide",6,3)
male_race_all

{'0': 15,
 '1': 16,
 '10': 21,
 '107': 1,
 '11': 23,
 '12': 32,
 '13': 58,
 '14': 99,
 '15': 224,
 '16': 410,
 '17': 638,
 '18': 1028,
 '19': 1238,
 '2': 16,
 '20': 1323,
 '21': 1401,
 '22': 1455,
 '23': 1329,
 '24': 1269,
 '25': 1167,
 '26': 1105,
 '27': 1016,
 '28': 987,
 '29': 931,
 '3': 21,
 '30': 863,
 '31': 816,
 '32': 839,
 '33': 771,
 '34': 750,
 '35': 674,
 '36': 638,
 '37': 554,
 '38': 539,
 '39': 461,
 '4': 17,
 '40': 463,
 '41': 449,
 '42': 430,
 '43': 394,
 '44': 336,
 '45': 311,
 '46': 315,
 '47': 352,
 '48': 293,
 '49': 317,
 '5': 13,
 '50': 311,
 '51': 301,
 '52': 266,
 '53': 225,
 '54': 202,
 '55': 170,
 '56': 197,
 '57': 159,
 '58': 154,
 '59': 142,
 '6': 16,
 '60': 114,
 '61': 118,
 '62': 115,
 '63': 90,
 '64': 86,
 '65': 66,
 '66': 72,
 '67': 60,
 '68': 69,
 '69': 45,
 '7': 26,
 '70': 36,
 '71': 32,
 '72': 32,
 '73': 33,
 '74': 28,
 '75': 22,
 '76': 20,
 '77': 13,
 '78': 22,
 '79': 16,
 '8': 10,
 '80': 16,
 '81': 7,
 '82': 8,
 '83': 11,
 '84': 14,
 '85': 4,
 '86': 2,
 '87': 5,
 '88': 4,
 '89': 3,
 '9': 24,
 '90': 3,
 '91': 1,
 '92': 1,
 '94': 2,
 '95': 2,
 '96': 1,
 '99': 1,
 'NA': 8}

Maximum homecides for men occur between 18-35 years of age.this is the youth's age where people have lot of energy. There are lot of angry young men in the society.

In [53]:
female_race_all

{'0': 7,
 '1': 18,
 '10': 16,
 '11': 16,
 '12': 18,
 '13': 27,
 '14': 26,
 '15': 37,
 '16': 64,
 '17': 72,
 '18': 110,
 '19': 126,
 '2': 13,
 '20': 144,
 '21': 169,
 '22': 173,
 '23': 130,
 '24': 173,
 '25': 133,
 '26': 140,
 '27': 120,
 '28': 132,
 '29': 124,
 '3': 15,
 '30': 130,
 '31': 112,
 '32': 125,
 '33': 113,
 '34': 117,
 '35': 108,
 '36': 80,
 '37': 92,
 '38': 86,
 '39': 91,
 '4': 15,
 '40': 92,
 '41': 91,
 '42': 107,
 '43': 99,
 '44': 99,
 '45': 88,
 '46': 86,
 '47': 86,
 '48': 93,
 '49': 97,
 '5': 21,
 '50': 76,
 '51': 74,
 '52': 70,
 '53': 70,
 '54': 59,
 '55': 62,
 '56': 53,
 '57': 55,
 '58': 50,
 '59': 62,
 '6': 26,
 '60': 31,
 '61': 37,
 '62': 40,
 '63': 22,
 '64': 44,
 '65': 35,
 '66': 34,
 '67': 29,
 '68': 26,
 '69': 15,
 '7': 12,
 '70': 18,
 '71': 24,
 '72': 19,
 '73': 25,
 '74': 15,
 '75': 13,
 '76': 20,
 '77': 12,
 '78': 24,
 '79': 13,
 '8': 13,
 '80': 21,
 '81': 19,
 '82': 12,
 '83': 17,
 '84': 16,
 '85': 15,
 '86': 9,
 '87': 7,
 '88': 7,
 '89': 9,
 '9': 12,
 '90': 7,
 '91': 2,
 '92': 2,
 '93': 3,
 '95': 1,
 '96': 2,
 '97': 2,
 'NA': 1}

for women no of homecides are less but the maximum homecides are between the age of 18-50.

In [54]:
intent

{'Accidental', 'Homicide', 'NA', 'Suicide', 'Undetermined'}

In [55]:
male_dR_u,female_dR_u=count_all(data,race,"Undetermined",7,3)
male_dR_u

{'Asian/Pacific Islander': 8,
 'Black': 104,
 'Hispanic': 56,
 'Native American/Native Alaskan': 11,
 'White': 459}

In [56]:
female_dR_u

{'Asian/Pacific Islander': 2,
 'Black': 22,
 'Hispanic': 16,
 'Native American/Native Alaskan': 3,
 'White': 126}

In [57]:
per_hundredK(male_dR_u)

{'Asian/Pacific Islander': 0.05052373854697896,
 'Black': 0.2583810168460696,
 'Hispanic': 0.12550958854034702,
 'Native American/Native Alaskan': 0.29415650088541107,
 'White': 0.23261829948056284}

There are not much undetermined cases but gereally asians cases solve out and death reason are known.

In [58]:
per_hundredK(female_dR_u)

{'Asian/Pacific Islander': 0.01263093463674474,
 'Black': 0.05465752279436088,
 'Hispanic': 0.03585988244009915,
 'Native American/Native Alaskan': 0.08022450024147575,
 'White': 0.06385600377897803}

More percentage of women death cases are solved and the death reason are clear in comparison to men.

In [67]:
male_p_u,female_p_u=count_all(data,intent,"1",3,4)
intent

{'Accidental', 'Homicide', 'NA', 'Suicide', 'Undetermined'}

In [68]:
male_p_u

{'Homicide': 1339}

In [62]:
female_p_u

{'0': 169}